# --- Python ------------------------------------------------------------------
.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# --- Tests -------------------------------------------------------------------
tests/

# --- IDE / tooling -----------------------------------------------------------
.idea/

# --- OS / editor -------------------------------------------------------------
.DS_Store
Thumbs.db
